<html>
  <head>
    <%= load_js("main.js") %>
    <%= load_css("main.css")%>
  </head>

  <body>
    This is a <%= awesome %>

    To be updated later...

    <%= load "test.html.erb" %>
  </body>
</html>
